/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
  --background: #e6eff8;
  --color: #666;
  --placeholder-color: #444;
  --icon-color: var(--ion-color-success);
  --clear-button-color: #444;

  --box-shadow: none;
  --border-radius: 8px;
}

ion-searchbar.ios.custom {
  --cancel-button-color: #19422d;
}

ion-searchbar.md.custom {
  --cancel-button-color: #fff;
}
