.map {
  width: 100%;
  height: 100%;
}

.position {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--ion-color-primary-shade);
  border: 2px solid white;
  border-radius: 100%;
}

.position::before {
  content: '""';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(var(--ion-color-primary-rgb), 0.2);
  border-radius: 100%;
  opacity: 1;
}

.markerIcon {
  background-color: transparent;
}
